
/* SETUP */

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


/* UNIVERSALS */

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 125%;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

.accent-color {
  color: #ff2800;
  font-weight: 700;
}

h1, .logo__font, .loading, .empty__results {
  font-family: 'Righteous', cursive;
  color: whitesmoke;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  max-width: 1600px;
}

.flex_row {
  display: flex;
}


h2{
  font-family: 'Cabin', sans-serif;
  font-size: 1.6rem;
}

h3 {
  font-family: 'Montserrat', serif;
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.25rem;
}

/* HEADER */

header, footer {
  background: #ff2800;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-bottom: 1.75%;
}

.fa-rotate-30 {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

.controller {
  font-size: 1.75rem;
  color: whitesmoke;
}

.controller__mobile {
  display: none;
  font-size: 3rem;
  margin-right: 15px;
}

.controller__mobile:hover {
  cursor: pointer;
}

nav {
  padding: 1% 0;
}

nav.flex_row {
  justify-content: space-between;
}

h1:hover {
  cursor: pointer;
}

form {
  text-align: right;
  flex-basis: 50%;
  margin: auto 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.input__wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

form button {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-left:  2%;
  padding: 0 0.75rem;
  background: #ff2800;
  color: whitesmoke;
  transition: box-shadow 0.3s ease-in,
              transform 0.25s ease-in;
}

form button:hover,
form button:focus {
  box-shadow: 0px 2px 0px whitesmoke;
  transform: translatey(-2px);
}

form button:active {
  box-shadow: none;
  transform: translateY(0px);
}

form input[type="text"] {
  padding-left: 2%;
  max-width: 375px;
  width: 100%;
  border-radius: 5px;
  border:1px solid whitesmoke;
}

form input[type="text"]:focus {
  border: 1px solid whitesmoke;
}

/*  BODY */

.gamelist {
  padding: 1px 0;
}

main.wrapper .logo__font {
  padding-top: 1.5%;
  border-top: 1px solid #ff2800;
}

.instructions {
  padding-left: 7.5%;
  margin-top: 1.25%;
  border-bottom: 1px solid #ff2800;
}

.instructions li {
  margin-bottom: 0.5%;
  padding-right: 2.5%;
} 

.instructions li:last-child {
  padding-bottom: 1.5%;
}

.loading, .empty {
  text-align: center;
  font-weight: 400;
}

.logo__font, .loading, .empty {
  color: #ff2800;
}

.card {
   border-top: 1px solid #ff2800;
   border-bottom: 1px solid #ff2800;
   padding: 1.5% 0;
   margin-bottom: 2.25%;
   height: 40vh;
}

.game__title {
  color: #ff2800;
}

.game__title {
  font-weight: 500;
}

.game__date {
  margin-bottom: 0.75%;
  font-weight: 500;
}

.game__date span {
  font-weight: 400;
}


.img__container {
  /* width: 12.5vw; */
  flex-basis: 18%;
  margin-right: 2.5%;
  height: 30vh;
}

.text__container {
  flex-basis: calc(80% - 2.5%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text__container__gameInfo {
  flex-basis: 78%;
  overflow: hidden;
}

.img__container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.game__description {
  line-height: 1.25;
  letter-spacing: 0.025rem;
  max-height: 100%;
}

/* MOREINFO */

.modal {
  position: absolute;
  top: 15%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  border-left: 7.5px solid #ff2800;
  border-right: 7.5px solid #ff2800;
  border-top: 1.5px solid #ff2800;
  border-bottom: 1.5px solid #ff2800;
  border-radius: 15px;
  padding: 1.5%;
  background-color: whitesmoke
}


.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal__content {
  overflow-y: scroll;
  height: 100%;
  position: relative;
  /* padding-right: 0.5%; */
}


.modal__open {
  position: absolute;
  left: 0;
  bottom: 0;
}

.modal__close {
  max-height: 32px;
}

.game__title__wrapper {
  display: flex;
  justify-content: space-between;
}

.empty__images {
  margin-top: 4vh;
}

.modalButton {
  padding: 0.3rem 0.75rem;
  border: 1.5px solid #ff2800;
  box-shadow: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: all 0.25s;
  color: #ff2800;
  background-color: transparent;
}


.modalButton:hover {
  color: whitesmoke;
  background-color: #ff2800;
}

 .modal__content h3 {
  margin-bottom: 0.5vh;
}

.modal__content p {
  margin-bottom: 2.5vh;
} 

@media (max-width: 1200px){
  .img__container {
    flex-basis: 23%;
  }

  .img__container img {
    object-fit: contain;
  }

  .text__container {
    flex-basis: 72.5%;
  }

}

@media (max-width: 815px){

  header {
    margin-bottom: 3%;
  }
  
  .wrapper {
    width: 90%;
  }
  
  nav.flex_row {
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    display: none;
  }

  .controller__mobile {
    display: inline-block;
    text-align: left;
  }

  form {
    width: 100%;
    margin: 0;
    justify-content: space-between;

  }

  form input[type="text"]{
    max-width: 325px;
  }

  form button {
    padding: 0 1.25%;
  }

  .card {
    margin-bottom: 3.5%;
  }
}

@media (max-width: 585px){
  html {
    font-size: 90%;
  }

  header {
    margin-bottom: 20px;
  }

  .controller__mobile {
    font-size: 2rem;
  }

  button,
  .modalButton,
  form input[type="text"]{
    font-size: 0.9rem;
  }

  button, .modal__open {
    padding: 0.25rem 0.4rem;
  }

  .modal__close {
    max-height: 26px; 
  }

  form input[type="text"]{
    max-width:250px;
  }

  main.wrapper .logo__font {
    padding-top: 15px;
  }

  .instructions li:last-child {
    padding-bottom: 15px;
  }

  .card {
    padding: 15px 0;
    margin-bottom: 20px;
  }
  
  .img__container {
    display: none;
  }

  .text__container {
    flex-basis: 100%;
  }

  .text__container__gameInfo {
    flex-basis: 80%;
  }

  h2 {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  h3 {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  p, li {
    font-size: 0.9rem;
  }

}
